.main {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url('/src/assets/images/party.png');
}

.main::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 350%;
  background: radial-gradient(ellipse at 0 50%, transparent 10%, #c640cd 40%, #491975 70%);
  top: -100%;
  transform: rotate(180deg);
  overflow: hidden;
}

.left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.connection {
  max-width: 500px;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 96px;
  font-size: 18px;
  width: 100%;
  align-items: center;
}

.footer > p {
  color: white;
}

.footer a {
  color: white;
  text-decoration: underline;
}
