.main {
  display: flex;
  background: radial-gradient(#c640cd, #491975);
  min-height: 100%;
  min-width: 100%
}

.left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.connection {
  width: 90%;
  max-width: 500px;
  margin: auto;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 96px;
  font-size: 18px;
  width: 100%;
  align-items: center;
}

.footer > p {
  color: white;
}

.footer a {
  color: white;
  text-decoration: underline;
}
